[submodule "resurrect"]
	path = resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "copycat"]
	path = copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "open"]
	path = open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "yank"]
	path = yank
	url = https://github.com/tmux-plugins/tmux-yank
